{{ define "main" }}
{{ $linkColor := $.Site.Data.appearance.colors.links }}
{{ $size := .Site.Data.developer }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-{{ $size.column_size }}">
                {{ $officeCount := len (where .Site.RegularPages "Section" "==" "offices")  }}
                {{ if gt $officeCount 0 }}
                {{ $paginator := .Paginate (where .Pages "Type" "offices") 6 }}
                {{ range $paginator.Pages.ByWeight }}
                <div class="uk-child-width-3-4@s">
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-3@s uk-margin" uk-grid>
                        <div class="uk-card-media-left">
                            {{ if .Params.photo_or_logo }}
                            <img src="{{ .Params.photo_or_logo }}" alt="{{ .Title }}" style="width:100%;height:330px;object-fit:cover">
                            {{ else }}
                            <img src="/assets/user.jpg" alt="avatar" style="width:100%;height:100%;object-fit:cover">
                            {{ end }}
                        </div>
                        <div class="uk-width-expand@s">
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">{{ .Title }}</h3>
                                <table class="uk-table uk-table-small uk-table-divider uk-margin-remove">
                                    <tbody>
                                        {{ if .Params.contact.office_phone }}
                                        <tr>
                                            <td><strong>Office Phone</strong></td>
                                            <td class="uk-text-right"><a href="tel:{{ .Params.contact.office_phone }}">{{ .Params.contact.office_phone }}</a></td>
                                        </tr>
                                        {{ end }}
                                        <tbody>
                                        {{ if .Params.contact.fax_number }}
                                        <tr>
                                            <td><strong>Fax</strong></td>
                                            <td class="uk-text-right"><a href="tel:{{ .Params.contact.fax_number }}">{{ .Params.contact.fax_number }}</a></td>
                                        </tr>
                                        {{ end }}
                    
                                        {{ if .Params.contact.email }}
                                        <tr>
                                            <td><strong>Email</strong></td>
                                            <td class="uk-text-right"><a href="tel:{{ .Params.contact.email }}">{{ .Params.contact.email }}</a></td>
                                        </tr>
                                        {{ end }}
                                        {{ if .Params.contact.website }}
                                        <tr>
                                            <td><strong>Website</strong></td>
                                            <td class="uk-text-right"><a href="{{ .Params.contact.website }}" target="_blank">{{ .Params.contact.website }}</a></td>
                                        </tr>
                                        {{ end }}
                                        <tr>
                                            <td>
                                            </td>
                                            <td class="uk-text-right"><a href="{{ .Permalink }}" class="uk-text-bold" style="color:{{ $linkColor }}">Read more</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ else }}
                <div class="uk-width-3-4@s">
                    <div class="inner-container">
                        <h4>No partners added yet</h4>
                        <p>Check back later for updated information</p>
                    </div>
                </div>
                {{ end }}
                {{ partial "templates/pagination" . }}

            </div>
            {{ partial "templates/sidebar" . }}
        </div>
    </div>
</div>
{{ end }}
