{{ define "main" }}
{{ $buttonColor := .Site.Data.appearance.colors }}
<div class="uk-section">
    <div class="uk-container">
        <p class="uk-text-center">Want to find out the value of your home? Please fill out the form below.</p>
        <div uk-grid>
            <div class="uk-width-3-4@s">
                <div class="uk-card uk-card-body">
                    {{ partial "templates/home-value-form" . }}
                </div>
            </div>
            {{ partial "templates/sidebar" . }}
        </div>
    </div>
</div>
{{ end }}
