/* TYPOGRAPHY */

body {
    font-family: Lato,sans-serif;
    line-height: 2;
    font-size: 14px;
}

body a:hover {
    text-decoration: none;
}

body a {
    color: inherit;
}

body a:empty {
    display: none;
}

body em {
    color: inherit;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: Raleway,sans-serif!important;
    font-weight: 600;
}

#home-section h2 {
    font-size: 1.5rem;
}

#home-section {
    overflow-x: hidden;
}

/* OVERWRITE */

.hidden {
    display: none;
}

.show {
    display: block;
}

a.uk-button.listing-detail-cta {
    padding: 5px 30px;
}

a.uk-button.uk-button-primary,
button.uk-button.uk-button-primary {
    border-radius: 4px;
}

[title~=Sold] {
    background: #d10000!important;
  }

.hero-overlay {
    background: rgba(0 0 0 / 40%);
}

.listing-detail-overlay {
    background: rgba(0 0 0 / 40%);
}

.feature-box-overlay {
    transition: .3s;
    background: rgba(0 0 0 / 20%);
}

.feature-box-overlay:hover {
    background: rgba(0 0 0 / 40%);
    transition: .3s;
}

div#home-section div.uk-section:nth-child(odd) {
    background: #f7f8f9;
}

@media (min-width: 1200px) {
    div.uk-card-body {
        padding: 20px 20px;
    }
}

.uk-white {
    color: #fff;
}

.border {
    border: 1px solid rgba(204, 204, 204, 0.4);
}

/* NAVBAR */

nav.main-nav.uk-navbar-container.uk-navbar-sticky.uk-dark {
    box-shadow: 0px 0px 30px 0px rgb(38 38 38 / 50%);
}

ul.uk-navbar-nav.top-bar li a {
    text-transform: unset!important;
}

div.top-navbar ul.uk-navbar-nav>li>a {
    min-height: 50px;
    font-weight: 400;
}

.uk-navbar-sticky a.uk-navbar-toggle {
    color: #000!important;
}

/* HERO */

@media screen and (min-width:768px) {
    div.mobile-quicksearch {
        display: none;
    }
}

/* WHITE/BLACK LOGO */

.uk-navbar-sticky .white-logo {
    display: none;
}

.uk-navbar-sticky .dark-logo {
    display: block;
}

.dark-logo {
    display: none;
}

div.full-nav-wrapper:hover .dark-logo {
    display: block;
}

div.full-nav-wrapper:hover .white-logo {
    display: none;
}


/* FORM */

input#search-query {
    background: #fff;
    color: #000;
}

input#search-query::placeholder {
    color: rgb(139, 139, 139);
}

div.text-form {
    background: #f2f2f3;
    padding: 40px;
}

/* SEARCH */

div.uk-dropdown {
    padding: 10px;
}

div.uk-dropdown ul li {
    cursor: pointer;
    padding-left: 5px;
}

#top-search .uk-active{
    background: #090909;
    color: #fff;
}

span.search-filter {
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 2px;
    background: black;
}

span.search-filter:empty {
    visibility: hidden;
}

.featured-filter {
    background: #f0b327;
    color: white;
}

/* PROPERTY CARD */

span.featured.uk-badge {
    background: #f1b425;
}

span.status.uk-badge,
span.featured.uk-badge {
    padding: 4px 10px;
    border-radius: 5px;
    color: #fff;
    margin: 2px;
}

.property-card-overlay {
    background: rgba(0 0 0 / 20%);
}

.property-card .property-card-details {
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

span.price-badge {
    background: 0 0;
    padding: 4px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
}

.property-card .property-card-address {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
}

.card-footer-item:not(:last-child) {
    border-right: 1px solid #ededed;
}

.card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: .75rem;
}


.card-footer {
    background-color: transparent;
    border-top: 1px solid #ededed;
    align-items: stretch;
    display: flex;
}

/* PROPERTY DETAIL PAGE */

.single-details-list ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.single-details-list ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding: 0 25px;
    font-size: 13px;
}

.single-details-list ul li span {
    float: right;
}

@media screen and (max-width: 768px) {
    .single-details-list ul {
        columns: 1!important;
        -webkit-columns: 1!important;
        -moz-columns: 1!important;
    }
}


/* PAGINATION */

.pagination li a {
    transition: all .3s ease;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
  }
  
  .pagination li:hover a {
    background: #8593a9;
    transition: all .3s ease;
  }
  
  ul.pagination {
    justify-content: center;
  }
  
  li.page-item {
    padding: 2px;
    font-size: 14px;
  }
  
  .pagination-next,
  .pagination-previous {
    background: transparent;
  }
  
  a.pagination-link, a.pagination-next, a.pagination-previous {
    border-color: transparent;
  }
  
  li.page-item.active {
    border-bottom: 1px solid #8593a9;
  }
  
  li.page-item.disabled {
    display: none;
  }

/* FOOTER */

footer.footer h5 {
    font-weight: 600;
}

footer.footer a {
    transition: .3s ease;
}

footer.footer a:hover {
    color: rgb(163, 163, 163);
    transition: .3s ease;
}

/* TO TOP */

#scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    transition: .3s ease;
    background: #090909;
}
  
  #scroll-top:hover {
    background-color: rgb(34, 34, 34);
    transition: .3s ease;
}