{{ partial "global/head" . }}
{{ $buttonColor := $.Site.Data.appearance.colors }}

<a href="#" id="totop"> </a>

{{ if .Params.photos.gallery }}
<div uk-slider>

    <div class="uk-position-relative">
        <div class="uk-position-top full-nav-wrapper" style="z-index:5">
            {{ partial "global/navbar" . }}
        </div>
        <div class="uk-slider-container uk-light">
            <ul class="uk-slider-items uk-child-width-1-2@s uk-child-width-1-3@s uk-child-width-1-4@m uk-grid-match" uk-height-viewport="offset-bottom: 45">
                {{ range .Params.photos.gallery }}
                <li>
                    <div class="uk-cover-container">
                    <img src="{{ . }}" alt="" uk-cover>
                    <div class="listing-detail-overlay uk-position-cover"></div>
                    </div>
                </li>
                {{ end }}
            </ul>
            <div class="uk-overlay uk-position-bottom uk-visible@m">
                <div class="uk-container uk-container-large">
                    <div class="uk-flex-bottom" uk-grid>
                        <div class="uk-width-1-2@s">
                            <div class="uk-card">
                                <ul class="uk-flex uk-list uk-flex-left uk-flex-bottom">
                                    <li>
                                        {{ if .Params.status }}<span class="status uk-badge" {{ if in .Params.status "Sold" }}style="background: #d10000"{{ else }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }}"{{ end }}>{{ .Params.status }}</span>{{ end }}
                                        {{ if .Params.featured }}<span class="featured uk-badge">{{ .Params.featured }}</span>{{ end }}
                                        <h2 class="uk-margin-small-top uk-h1 uk-text-bold">{{ .Params.short_title }}</h2>
                                        <h3 class="uk-margin-remove uk-h5">{{ .Title }}, {{ .Params.cities }}, {{ .Params.states }} {{ .Params.zip }}</h3>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-card">
                                <div class="uk-display-block">
                                    <ul class="uk-flex uk-list uk-flex-right uk-flex-bottom">
                                        <li>
                                            <p class="uk-margin-remove">Price</p>
                                            <h3 class="uk-margin-remove">{{ .Params.price }}</h3>

                                        </li>
                                        <li>
                                            {{ if .Params.listing_agent.listing_agent }}
                                                {{ with .Site.GetPage .Params.listing_agent.listing_agent }}
                                                {{ if .Params.contact.cell }}
                                                <a href="tel:{{ .Params.contact.cell }}" class="uk-button uk-button-primary uk-margin-medium-left uk-text-bold uk-flex uk-flex-middle listing-detail-cta" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}><span uk-icon="icon: receiver" class="uk-margin-small-right"></span> More Info</a>
                                                {{ else }}
                                                <a href="tel:{{ $.Site.Data.profile.contact_information.cell }}" class="uk-button uk-button-primary uk-margin-medium-left uk-text-bold uk-flex uk-flex-middle listing-detail-cta" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}><span uk-icon="icon: receiver" class="uk-margin-small-right"></span> More Info</a>
                                                {{ end }}
                                                {{ end }}
                                            {{ end }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-hidden@s uk-light">
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <div class="uk-visible@s">
            <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
{{ else }}
<div class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle page-banner" style="background: url(https://res.cloudinary.com/hungryram19/image/upload/v1628200056/hungryram/desktop2_igppbt.jpg)no-repeat center;background-size:cover">
    <div class="uk-position-top full-nav-wrapper">
        {{ partial "global/navbar" . }}
    </div>
    <div class="uk-padding uk-margin-large-top">
    <h1 class="uk-text-uppercase uk-white uk-text-center">{{ .Title }}</h1>
    </div>
</div>
{{ end }}
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "global/footer" . }}