{{ define "main" }}
{{ $size := .Site.Data.developer }}

<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-{{ $size.column_size }}">
                {{ if .Params.featured_image }}
                <img src="{{ .Params.featured_image }}" alt="{{ .Params.image_alt_tag }}" class="mb-6">
                {{ end }}
                <div class="content uk-margin-medium-top">
                    {{ .Content }}
                </div>
                {{ if in .Permalink "blog" }}
                <hr>
                {{ end }}                
                {{ if .Params.categories }}
                <div class="uk-margin-medium-top">
                    <h3 class="uk-text-bold uk-h4">Categories</h3>
                    {{ range .Params.categories }}
                    <span class="uk-badge uk-margin-small-right"><a href="/categories/{{ . | lower }}">{{ . }}</a></span>
                    {{ end }}
                </div>
                {{ end }}
                {{ if .Params.tags }}
                <div class="uk-margin-medium-top">
                    <h3 class="uk-text-bold uk-h4">Tags</h3>
                    {{ range .Params.tags }}
                    <span class="uk-badge uk-margin-small-right"><a href="/tags/{{ . }}">{{ . | lower }}</a></span>
                    {{ end }}
                </div>
                {{ end }}

                {{ if in .Permalink "blog" }}
                <div class="uk-margin-medium-top">
                    {{ partial "templates/share" . }}
                </div>
                {{ end }}
            </div>
            
            {{ partial "templates/sidebar" . }}
        </div>
    </div>
</div>
{{ end }}