{{ define "main" }}
{{ $linkColor := $.Site.Data.appearance.colors.links }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-3-4@s">
                {{ $teamCount := len (where .Site.RegularPages "Section" "==" "our-team")  }}
                {{ if gt $teamCount 0 }}
                {{ $paginator := .Paginate (where .Pages "Type" "our-team") 6 }}
                {{ range $paginator.Pages.ByWeight }}
                <div class="uk-child-width-3-4@s">
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-3@s uk-margin" uk-grid>
                        <div class="uk-card-media-left">
                            {{ if .Params.details.agent_photo }}
                            <img src="{{ .Params.details.agent_photo }}" alt="{{ .Title }}" style="width:100%;height:250px;object-fit:cover">
                            {{ else }}
                            <img src="/assets/user.jpg" alt="avatar" style="width:100%;height:100%;object-fit:cover">
                            {{ end }}
                        </div>
                        <div class="uk-width-expand@s">
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">{{ .Title }}</h3>
                                <span>{{ .Params.details.category }}</span>
                                <table class="uk-table uk-table-small uk-table-divider uk-margin-remove">
                                    <tbody>
                                        {{ if .Params.contact.phone }}
                                        <tr>
                                            <td>Phone</td>
                                            <td class="uk-text-right"><a href="tel:{{ .Params.contact.phone }}">{{ .Params.contact.phone }}</a></td>
                                        </tr>
                                        {{ end }}
                    
                                        {{ if .Params.contact.email }}
                                        <tr>
                                            <td>Email</td>
                                            <td class="uk-text-right"><a href="tel:{{ .Params.contact.email }}">{{ .Params.contact.email }}</a></td>
                                        </tr>
                                        {{ end }}
                                        {{ if .Params.contact.website }}
                                        <tr>
                                            <td>Website</td>
                                            <td class="uk-text-right"><a href="{{ .Params.contact.website }}" target="_blank">{{ .Params.contact.website }}</a></td>
                                        </tr>
                                        {{ end }}
                                        <tr>
                                            <td>
                                                {{ if .Params.social_media.facebook }}<a href="{{ .Params.social_media.facebook }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                                                {{ if .Params.social_media.instagram }}<a href="{{ .Params.social_media.instagram }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: instagram; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                                                {{ if .Params.social_media.linkedin }}<a href="{{ .Params.social_media.linkedin }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                                                {{ if .Params.social_media.pinterest }}<a href="{{ .Params.social_media.pinterest }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: pinterest; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                                                {{ if .Params.social_media.twitter }}<a href="{{ .Params.social_media.twitter }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                                                {{ if .Params.social_media.youtube }}<a href="{{ .Params.social_media.youtube }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: youtube; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                                                {{ if .Params.social_media.tiktok }}<a href="{{ .Params.social_media.tiktok }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: tiktok; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                                            </td>
                                            <td class="uk-text-right"><a href="{{ .Permalink }}" class="uk-text-bold" style="color:{{ $linkColor }}">Read more</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
                {{ else }}
                <div class="uk-width-3-4@s">
                    <div class="inner-container">
                        <h4>No partners added yet</h4>
                        <p>Check back later for updated information</p>
                    </div>
                </div>
                {{ end }}
                {{ partial "templates/pagination" . }}

            </div>
            {{ partial "templates/sidebar" . }}
        </div>
    </div>
</div>
{{ end }}
