
{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
{{ $idx := $.Site.Data.idx }}
{{ $buttonColor := .Site.Data.appearance.colors }}
{{ $ihfID := .Site.Data.idx.ihf_client_id }}

<style>
    nav.uk-navbar-sticky ul li a,
    .uk-navbar-sticky ul li a svg {
        color: #000!important;
    }
</style>
<div class="uk-visible@s" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200" {{ if $navColor.transparent_background }}{{ else }}style="background: {{ $navColor.header_background_color }};"{{ end }}>
    <div class="top-navbar" style="background:{{ if $navColor.top_header_color }}{{ $navColor.top_header_color }}{{ else }}transparent{{ end }}">
        <nav class="uk-container uk-container-{{ if .IsHome }}medium{{ else }}large{{ end }}" uk-navbar>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav top-bar">
                    {{ if $navContact.cell }}<li><a style="{{ if $navColor.enable_white_text_top }}color: #ddd{{ else }}color: #000;{{ end }}" href="tel:{{ $navContact.cell }}"><span class="uk-text-bold uk-margin-small-right">Direct:</span> {{ $navContact.cell }}</a></li>{{ end }}
                    {{ if $navContact.phone }}<li><a style="{{ if $navColor.enable_white_text_top }}color: #ddd{{ else }}color: #000;{{ end }}" href="tel:{{ $navContact.phone }}"><span class="uk-text-bold uk-margin-small-right">Office:</span> {{ $navContact.phone }}</a></li>{{ end }}
                    {{ if $navContact.email }}<li><a style="{{ if $navColor.enable_white_text_top }}color: #ddd{{ else }}color: #000;{{ end }}" href="mailto:{{ $navContact.email }}"><span class="uk-text-bold uk-margin-small-right">Email:</span> {{ $navContact.email }}</a></li>{{ end }}
                </ul>
            </div>
        </nav>
    </div>
    <nav class="main-nav uk-navbar-container uk-navbar-transparent"{{ if not .IsHome }} style="border-bottom: 1px solid rgb(213 213 213 / 20%);"{{ end }}>
        <div class="uk-container uk-container-{{ if .IsHome }}medium{{ else }}large{{ end }}" style="padding-top:10px;padding-bottom:10px;">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a href="{{ .Site.BaseURL }}">
                        {{ if $navColor.transparent_background }}
                        <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }} logo" width="{{ .Site.Data.appearance.branding.logo_width }}" class="white-logo">
                        <img src="{{ .Site.Data.appearance.branding.dark_logo }}" alt="{{ .Site.Data.profile.company_name }} logo" width="{{ .Site.Data.appearance.branding.logo_width }}" class="dark-logo">
                        {{ else }}
                        <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }} logo" width="{{ .Site.Data.appearance.branding.logo_width }}" class="white-logo">
                        {{ end }}
                    </a>

                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        {{ if .HasChildren }}
                        <li>
                            <a href="#" style="{{ if $navColor.enable_white_text }}color: #fff{{ else }}color: #000;{{ end }}">{{ .Name }}<span class="uk-margin-small-left" uk-icon="chevron-down"></span></a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {{ range .Children }}
                                    <li class="uk-active"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                                    {{ end }}
                                </ul>
                            </div>
                        </li>
                        {{ else }}
                        <li><a href="{{ .URL | absURL }}" style="{{ if $navColor.enable_white_text }}color: #fff{{ else }}color: #000;{{ end }}">{{ .Name }}</a></li>
                        {{ end }}
                        {{ end }}
                        {{ if $idx.enable_idx }}
                        <div class="uk-navbar-item">
                            {{ if $.Site.Data.idx.incomplete_subdomain }}
                            <li><a href="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/organizer/login/{{ $ihfID }}" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>My Account</a></li>
                            {{ else }}
                            <li><a href="https://{{ $.Site.Data.idx.complete_subdomain }}.com/organizer/login/{{ $ihfID }}" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>My Account</a></li>
                            {{ end }}

                        </div>
                        {{ end }}

                        </ul>
                </div>

            </div>
        </div>
    </nav>
</div>


<!-- mobile -->
<div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky uk-dark; cls-inactive: uk-navbar-transparent; top: 200" {{ if $navColor.transparent_background }}{{ else }}style="background: {{ $navColor.header_background_color }};"{{ end }}>
    <nav class="uk-navbar uk-navbar-container uk-hidden@s uk-padding-small uk-box-shadow-small">
        <div class="uk-navbar-left">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Data.appearance.branding.logo }}" alt="" width="100">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#mobile-menu-slide" uk-toggle style="{{ if $navColor.enable_white_text }}color: #fff{{ else }}color: #000;{{ end }}"></a>
        </div>
    </nav>
</div>
    <div id="mobile-menu-slide" uk-offcanvas>
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical" uk-nav>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="uk-parent">
                    <a href="#" class="uk-text-light">{{ .Name }}</a>
                    <ul class="uk-nav-sub">
                        {{ range .Children }}
                        <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
                {{ else }}
                <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
                {{ if $idx.enable_idx }}
                <li class="uk-nav-header"></li>
                    {{ if $.Site.Data.idx.incomplete_subdomain }}
                    <li><a href="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/organizer/login/{{ $ihfID }}" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>My Account</a></li>
                    {{ else }}
                    <li><a href="https://{{ $.Site.Data.idx.complete_subdomain }}.com/organizer/login/{{ $ihfID }}" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>My Account</a></li>
                    {{ end }}
                {{ end }}
                <li class="uk-nav-header"></li>
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header"></li>
                {{ if $navContact.email }}<li><a href="mailto:{{ $navContact.email }}" class="uk-link-text"><strong>Email: </strong>{{ $navContact.email }}</a></li>{{ end }}
                {{ if $navContact.phone }}<li><a href="tel:{{ $navContact.phone }}" class="uk-link-text"><strong>Office: </strong>{{ $navContact.phone }}</a></li>{{ end }}
                {{ if $navContact.cell }}<li><a href="tel:{{ $navContact.cell }}" class="uk-link-text"><strong>Direct: </strong>{{ $navContact.cell }}</a></li>{{ end }}
                {{ if $navContact.address }}<li><a href="https://www.google.com/maps/place/{{ $navContact.address }},+{{ $navContact.city }},+{{ $navContact.state }}" target="_blank" class="uk-link-text">{{ $navContact.address }}, {{ $navContact.city }}, {{ $navContact.state }} {{ $navContact.zip_code }}</a></li>{{ end }}
                <li class="uk-nav-header"></li>
                {{ if $headerSocial.facebook }}<a href="{{ $headerSocial.facebook }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                {{ if $headerSocial.instagram }}<a href="{{ $headerSocial.instagram }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: instagram; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                {{ if $headerSocial.linkedin }}<a href="{{ $headerSocial.linkedin }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: linkedin; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                {{ if $headerSocial.pinterest }}<a href="{{ $headerSocial.pinterest }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: pinterest; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                {{ if $headerSocial.twitter }}<a href="{{ $headerSocial.twitter }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: twitter; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                {{ if $headerSocial.youtube }}<a href="{{ $headerSocial.youtube }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: youtube; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                {{ if $headerSocial.tiktok }}<a href="{{ $headerSocial.tiktok }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: tiktok; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}
                {{ if $headerSocial.yelp }}<a href="{{ $headerSocial.yelp }}" class="uk-icon-button uk-margin-small-right" uk-icon="icon: yelp; ratio: .8" style="color: {{ $accent }}"></a>{{ end }}

            </ul>
        </div>
    </div>