{{ $profile := .Site.Data.profile }}
{{ $appearance := .Site.Data.appearance }}
<script type = "application/ld+json"> {
	"@context": "https:\/\/schema.org",
	"@graph": [{
		"@type": "WebSite",
		"@id": "{{ .Site.BaseURL }}",
		"url": "{{ .Site.BaseURL }}",
		"name": "{{ $profile.company_name }}",
		"potentialAction": {
			"@type": "SearchAction",
			"target": "{{ .Site.BaseURL }}?s={search_term_string}",
			"query-input": "required name=search_term_string"
		}
	}, 
    {
		"@type": "RealEstateAgent",
		"@id": "https:\/\/ogroup.com#organization",
		"name": "{{ $profile.company_name }}",
		"url": "{{ .Site.BaseURL }}",
		"email": "{{ $profile.contact_information.email }}",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "{{ $profile.contact_information.address }}",
			"addressLocality": "{{ $profile.contact_information.city }}",
			"addressRegion": "{{ $profile.contact_information.state }}",
			"postalCode": "{{ $profile.contact_information.zip_code }}",
			"addressCountry": "United States"
		},
		"image": "{{ $appearance.branding.logo }}"
	}]
} 
</script>