{{ $seo := .Site.Data.profile.search_engine_optimization }}
{{ $profile := .Site.Data.profile.company_name }}
{{ $logo := .Site.Data.appearance.branding.logo }}

<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.Data.appearance.branding.favicon }}" />
<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.Data.appearance.branding.favicon }}" />
<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.Data.appearance.branding.favicon }}" />
<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.Data.appearance.branding.favicon }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Data.appearance.branding.favicon }}" />
<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.Data.appearance.branding.favicon }}" />
<link rel="apple-touch-icon" href="{{ .Site.Data.appearance.branding.favicon }}" />
<!-- FAVICON -->
<link rel="shortcut icon" href="{{ .Site.Data.appearance.branding.favicon }}" />
<meta name="application-name" content="{{ $profile }}">