{{ $buttonColor := $.Site.Data.appearance.colors }}
{{ $linkColor := $.Site.Data.appearance.colors.links }}
<form name="Modal Sign Up" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
    <input name="bot-field" type="hidden" />
    <input type="hidden" name="Subject" value="Website Contact Form">
    <input name="Source" type="hidden" value="{{ .Permalink }}" />

    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Name" name="Name">
    </div>
    <div class="uk-width-1-2@s">
        <input class="uk-input" type="text" placeholder="Phone" name="Phone">
    </div>
    <div class="uk-width-1-1">
        <input class="uk-input" type="text" placeholder="Email" name="Email">
    </div>
    <div class="uk-width-1-1">
        <textarea class="uk-textarea" rows="5" placeholder="Your Message" name="Message"></textarea>
    </div>
    <div class="uk-width-1-1">
        <button class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>Submit</button>
    </div>
    <div class="uk-width-1-1">
        <p>By submitting the form with your information above you are agreeing to our <a style="color:{{ $linkColor }}" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:{{ $linkColor }}" href="/legal/privacy-policy">Privacy Policy</a></p>
    </div>
</form>