<div class="uk-card uk-card-default">
    <div class="uk-card-media-top">
        {{ if .Params.photos.gallery }}
        <img src="{{ index .Params.photos.gallery 0 }}" alt="">
        {{ else }}
        <img src="/assets/nohouse.jpg" alt="no house" style="object-fit: cover;">
        {{ end }}
    </div>
    <div class="uk-card-body">
        <h3 class="uk-card-title">{{ .Title }}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
</div>