<div class="uk-width-expand">
    <div class="uk-card uk-card-body">
        {{ range .Site.Data.appearance.sidebar.sidebar }}
        {{ if eq "side-blog-category" .template }}
        <div>
            <h2 class="uk-text-bold uk-h5">Blog Categories</h2>
            <ul class="uk-list">
                {{ range $name, $taxonomy := $.Site.Taxonomies.categories }}
                <li class="align-center">
                    <span uk-icon="triangle-right"></span><a href="/categories{{ $name | urlize | relURL }}" class="uk-margin-small-left">{{ $name | humanize }}</a>
                </li>
                {{else}}
                <p>No blog categories just yet</p>
                {{ end }}
            </ul>
        </div>
        {{ end }}

        {{ if eq "latest-posts" .template }}
        <div>
            <h2 class="uk-text-bold uk-h5">Latest Posts</h2>
            {{ range  first 4 ( where $.Site.RegularPages "Type" "blog") }}
            <a href="{{ .Permalink }}">
                <div class="uk-card uk-margin-small-bottom">
                    <h3 class="uk-h6 uk-text-bold" style="margin: 0;">{{ .Params.title }}</h3>
                    <time><small>{{.Date.Format "Jan 2, 2006" }}</small></time>
                    <a href="{{ .Permalink }}" class="uk-display-block">Read more</a>
              </div>
            </a>
            <hr>
            {{ end }}
        </div>
        {{ end }}

        {{ if eq "sidebar-listings" .template }}
        {{ $buttonColor := $.Site.Data.appearance.colors }}
        {{ $linkColor := $.Site.Data.appearance.colors.links }}
        <h2 class="uk-text-bold uk-h5">{{ .heading }}</h2>
        <div class="uk-card uk-card-default uk-margin-small-top">
            <div class="uk-position-relative uk-visible-toggle uk-light property-card" tabindex="-1" uk-slideshow="min-height: 300;animation: push">
    
                <ul class="uk-slideshow-items">
                    {{ range shuffle ( where $.Site.RegularPages "Type" "listings") }}
                    <li>
                        <a href="{{ .Permalink }}">
                            <div class="uk-card uk-card-default property-card">
                                <div class="uk-card-media-top">
                                    <div class="uk-cover-container">
                                        <canvas height="300"></canvas>
                                        {{ if .Params.photos.gallery }}
                                        <img src="{{ index .Params.photos.gallery 0 }}" alt="" uk-cover>
                                        {{ else }}
                                        <img src="/assets/nohouse.jpg" alt="no house" style="object-fit: cover;" uk-cover>
                                        {{ end }}
                                        <div class="property-card-overlay uk-position-cover"></div>
                                        <div class="uk-position-absolute property-card-details">
                                            <div class="uk-text-center uk-light" uk-grid>
                                                <div class="uk-width-1-2">
                                                    <div class="uk-card uk-text-left">
                                                        {{ if .Params.status }}<span class="status uk-badge" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>{{ .Params.status }}</span>{{ end }}
                                                        {{ if .Params.featured }}<span class="featured uk-badge">{{ .Params.featured }}</span>{{ end }}
                                                    </div>
                                                </div>
                                                <div class="uk-width-1-2">
                                                    <div class="uk-card uk-text-right">
                                                        <span class="price-badge">
                                                            {{ .Params.price }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="uk-position-absolute property-card-address uk-text-left">
                                            <div class="uk-white">
                                                <h4 class="uk-white">{{ .Params.short_title }}</h4>
                                                <span class="grid-address uk-display-block">{{ .Title }}</span>
                                                <span class="grid-address uk-display-block">{{ .Params.cities }}, {{ .Params.states }} {{ index .Params "zip-codes" }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            
            </div>
        </div>
        {{ end }}
        
        {{ end }}
    </div>
</div>