{{ partial "global/head" . }}
{{ partial "home/hero" . }}
<div class="home-section">
{{ range .Site.Data.homelayout.home_sections }}

{{ if eq "featured-idx-listings" .template }}

<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-text-center">
            {{ if .heading }}<h2 class="uk-h2">{{ .heading }}</h2>{{ end }}
            {{ if .body }}
            <p class="has-text-centered">{{ .body | markdownify }}</p>
            {{ end }}
            {{ if $.Site.Data.idx.incomplete_subdomain }}
            <script type="text/javascript" src="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/site/listing/gallery/slider/{{ $.Site.Data.idx.ihf_client_id }}?columns=3&amp;rows=1&amp;effect=fade&amp;auto=false"></script>
            {{ else }}
            <script type="text/javascript" src="https://{{ $.Site.Data.idx.complete_subdomain }}/site/listing/gallery/slider/{{ $.Site.Data.idx.ihf_client_id }}?columns=3&amp;rows=1&amp;effect=fade&amp;auto=false"></script>
            
            {{ end }}
        </div>
    </div>
</div>
{{ end }}


  {{ if eq "home-testimonial" .template }}
    <div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {{ if .heading }}<h1 class="title is-4 has-text-centered">{{ .heading }}</h1>{{ end }}
                {{ if .body }}
                <p class="has-text-centered">{{ .body | markdownify }}</p>
                {{ end }}
            </div>
        </div>
        <div class="testimonial-container">
            {{ range where $.Site.Pages "Type" "testimonials" }}
            <div class="responsive-slide">
                {{ range .Params.testimonials }}
                <div class="testimonial">
                    <div class="card-content">
                      <div class="content">
                        <p>{{ .testimonial | truncate 170 }} <a href="/testimonial" class="link">Read more</a></p>
                      </div>
                      <div class="media">
                        <div class="media-left">
                            {{ if .image }}<img src="/assets/user.svg" alt="{{ .name }}">{{ end }}
                        </div>
                        <div class="media-content">
                          <em>{{ .name }}</em>
                          <em class="is-block">{{ .date }}</em>
                        </div>
                      </div>
                    </div>
                  </div>
                {{ end }}
            </div>
            {{ end }}
        </div>
        <div class="columns mt-6">
          <div class="column has-text-centered">
            <a href="/testimonials" class="btn-primary">View more</a>
          </div>
        </div>
    </div>
    </div>
  {{ end }}

  {{ if eq "home-agent" .template }}
  {{ $agents := where $.Site.RegularPages "Type" "our-team" }}
  <div class="uk-section">
    <div class="uk-container uk-container-large">
            {{ if .heading }}
            <h2 class="uk-text-center">{{ .heading }}</h2>
            {{ if .body }}
            <p class="uk-text-center">{{ .body | markdownify }}</p>
            {{ end }}
            {{ end }}
        <div uk-slider>
            <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
                <ul class="uk-slider-items uk-child-width-1-4@s uk-grid" uk-height-match="target: .uk-card">
                    {{ if gt $agents 0 }}
                    {{ range where $.Site.RegularPages "Type" "our-team" }}
                    <li>
                        <a href="{{ .Permalink }}">
                            <div class="uk-card uk-card-default" style="box-shadow:none">
                                <div class="uk-card-media-top uk-cover-container">
                                    <canvas height="350"></canvas>
                                    {{ if .Params.details.agent_photo }}
                                    <img src="{{ .Params.details.agent_photo }}" alt="{{ .Title }}" uk-cover>
                                    {{ else }}
                                    <img src="/assets/user.jpg" alt="">
                                    {{ end }}
                                </div>
                                <div class="uk-card-body uk-card-default uk-text-center">
                                    <h3 class="uk-h4">{{ .Title }}</h3>
                                    <a href="" class="uk-display-block">{{ .Params.contact.cell }}</a>
                                    <a href="" class="uk-display-block">{{ .Params.contact.email }}</a>                                
                                </div>
                            </div>
                        </a>
                    </li>
                    {{ end }}
                    {{ else }}
                      <h3>No Agents Found</h3>
                    {{ end }}
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
    </div>
</div>
  {{ end }}

  {{ if eq "home-blog" .template }}
  {{ $blog := where $.Site.RegularPages "Type" "blog" }}

    <div class="section">
      <div class="container">
        <div class="columns mb-6">
          <div class="column">
            {{ if .heading }}
            <h1 class="title is-4 has-text-centered">{{ .heading }}</h1>
            {{ end }}
            {{ if .body }}
            <p class="has-text-centered">{{ .body | markdownify }}</p>
            {{ end }}
          </div>
        </div>
        <div class="columns is-multiline">
          {{ if gt $blog 0 }}

          {{ range first 4 (where $.Site.RegularPages "Type" "blog") }}
          <div class="column is-6 mb-4">
            <div class="card">
                <div class="columns is-vcentered is-variable is-3">
                    <div class="column pb-0 pt-0">
                      {{ if .Params.featured_image }}
                        <img src="{{ .Params.featured_image }}" alt="" style="width:100%;height:250px;object-fit:cover">
                      {{ else }}
                      <img src="/assets/nophoto.jpg" alt="no photo" style="width:100%;height:250px;object-fit:cover">
                      {{ end }}
                    </div>
                    <div class="column">
                        <div class="content pr-4 pl-2">
                            <h1 class="title is-6 mb-2">{{ .Title }}</h1>
                            <div class="summary-card">
                            <time class="is-size-7"> {{.Date.Format "Jan 2, 2006" }}</time>
                              <p>{{ .Summary | truncate 100 }}</p>
                                <a href="{{ .Permalink }}" class="link"><strong>Continue reading...</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          {{ end }}
          {{ else }}
            <div class="column">
              <h4 class="title is-6 has-text-centered">No Blog Posts Found</h4>
            </div>
          {{ end }}
          </div>
          <div class="columns mt-6">
            <div class="column has-text-centered">
              <a href="/blog" class="btn-primary">View more</a>
            </div>
          </div>
        </div>
      </div>
  {{ end }}

  {{ if eq "text-and-image" .template }}
  <div class="uk-section">
      <div class="uk-container">
        <div class="uk-text-left uk-flex-middle" uk-grid>
            <div class="uk-width-1-2">
                <div class="uk-card uk-text-center">
                    <img src="{{ .image }}" alt="{{ .image_alt_tag }}" width="{{ .image_width }}">
                </div>
            </div>
            <div class="uk-width-1-2">
                <div class="uk-card uk-card-body">
                    <h2 class="uk-h2">{{ .heading }}</h2>
                    <p>{{ .body | markdownify }}</p>
                    <a href="{{ .button_link }}" class="btn-primary uk-button uk-button-primary">{{ .button }}</a>
                </div>
            </div>
        </div>
      </div>
  </div>
  {{ end }}

  {{ if eq "featured-boxes" .template }}
  <div class="section">
    <div class="container">
      <div class="columns mb-6">
        <div class="column">
          {{ if .heading }}
          <h1 class="title is-4 has-text-centered">{{ .heading }}</h1>
          {{ end }}
          {{ if .body }}
          <p class="has-text-centered">{{ .body | markdownify }}</p>
          {{ end }}
        </div>
      </div>
      <div class="columns is-multiline">
        {{ range .featured }}
          <div class="column is-4">
            <a href="{{ .link }}">
              <div class="featured" style="background:linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url({{ .image }}) no-repeat center;background-size:cover;padding-top:100px;padding-bottom:100px;border-radius: 4px;">
                  <h5 class="title is-5 has-text-centered has-text-white">{{ .heading }}</h5>
              </div>
            </a>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}

  {{ if eq "text-and-contact-form" .template }}
  <div style="background: linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url(https://res.cloudinary.com/hungryram19/image/upload/v1605403006/templates/realestate2/clean-living-room_b3bubn.jpg) no-repeat center;padding-top:40px;padding-bottom:40px;" uk-parallax="bgy: -200">
    <div class="uk-container">
        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-white">
                    {{ if .form.heading }}
                    <h2 class="uk-white">{{ .heading }}</h2>
                    {{ end }}
                    {{ if .form.body }}
                    <div class="summary-card mb-4">
                      <p>{{ .form.body | markdownify }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="text-form">
                    {{ partial "templates/form" . }}
                </div>
            </div>
        </div>
    </div>
</div>
  {{ end }}

  {{ if eq "tiles" .template }}
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
          {{ if .heading }}
          <h1 class="title is-4 has-text-centered">{{ .heading }}</h1>
          {{ end }}
          {{ if .body }}
          <p class="has-text-centered">{{ .body | markdownify }}</p>
          {{ end }}
        </div>
      </div>
      <div class="columns tiles">
        <div class="column is-7">
          <a href="{{ .tile_one.link }}">
            <div style="background: linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url({{ if .tile_one.image }}{{ .tile_one.image }}{{ else }}/assets/background/featuredone.jpg{{ end }}) no-repeat center;background-size:cover;padding-top:90px;padding-bottom:90px;border-radius:6px">
              <h4 class="title is-5 has-text-centered has-text-white">{{ .tile_one.heading }}</h4>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="{{ .tile_two.link }}">
            <div style="background: linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url({{ if .tile_two.image }}{{ .tile_two.image }}{{ else }}/assets/background/office.jpg{{ end }}) no-repeat center;background-size:cover;padding-top:90px;padding-bottom:90px;border-radius:6px">
              <h4 class="title is-5 has-text-centered has-text-white">{{ .tile_two.heading }}</h4>
            </div>
          </a>
        </div>
      </div>
      <div class="columns tiles">
        <div class="column is-5">
          <a href="{{ .tile_three.link }}">
            <div style="background: linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url({{ if .tile_three.image }}{{ .tile_three.image }}{{ else }}/assets/background/team.jpg{{ end }}) no-repeat center;background-size:cover;padding-top:90px;padding-bottom:90px;border-radius:6px">
              <h4 class="title is-5 has-text-centered has-text-white">{{ .tile_three.heading }}</h4>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="{{ .tile_four.link }}">
            <div style="background: linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url({{ if .tile_four.image }}{{ .tile_four.image }}{{ else }}/assets/background/home-value.jpg{{ end }}) no-repeat center;background-size:cover;padding-top:90px;padding-bottom:90px;border-radius:6px">
              <h4 class="title is-5 has-text-centered has-text-white">{{ .tile_four.heading }}</h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if eq "active-listings" .template }}
  {{ $active := $.Site.Taxonomies.status.active }}
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
            {{ if .heading }}<h1 class="title is-4 has-text-centered">{{ .heading }}</h1>{{ end }}
            {{ if .body }}
            <p class="has-text-centered">{{ .body | markdownify }}</p>
            {{ end }}
        </div>
    </div>
    <div class="responsive-slide">
      {{ if gt $active 0 }}
        {{ range first 6 $active }}
          <div class="mx-3">
            {{ partial "templates/property-grid" . }}
          </div>
        {{ end }}
      {{ else }}
        <h4 class="title is-6 has-text-centered">No Active Listings Found</h4>
      {{end}}
    </div>
    <div class="columns mt-6">
      <div class="column has-text-centered">
        <a href="/status/active" class="btn-primary">View all</a>
      </div>
    </div>
    </div> <!-- End container -->
  </div><!-- End Section -->
  {{ end }} 

  {{ if eq "sold-listings" .template }}
  {{ $sold := $.Site.Taxonomies.status.sold }}
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
            {{ if .heading }}<h1 class="title is-4 has-text-centered">{{ .heading }}</h1>{{ end }}
            {{ if .body }}
            <p class="has-text-centered">{{ .body | markdownify }}</p>
            {{ end }}
        </div>
    </div>
    <div class="responsive-slide">
      {{ if gt $sold 0 }}
        {{ range first 6 $sold }}
          <div class="mx-3">
            {{ partial "templates/property-grid" . }}
          </div>
        {{ end }}
      {{ else }}
        <h4 class="title is-6 has-text-centered">No Sold Listings Found</h4>
      {{end}}
    </div>
    <div class="columns">
      <div class="column has-text-centered">
        <a href="/status/sold" class="btn-primary">View all</a>
      </div>
    </div>
    </div> <!-- End container -->
  </div><!-- End Section -->
  {{ end }} 

  {{ if eq "auction-listings" .template }}
  {{ $auction := $.Site.Taxonomies.status.auction }}
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
            {{ if .heading }}<h1 class="title is-4 has-text-centered">{{ .heading }}</h1>{{ end }}
            {{ if .body }}
            <p class="has-text-centered">{{ .body | markdownify }}</p>
            {{ end }}
        </div>
    </div>
    <div class="responsive-slide">
      {{ if gt $auction 0 }}
        {{ range first 6 $auction }}
          <div class="mx-3">
            {{ partial "templates/property-grid" . }}
          </div>
        {{ end }}
      {{ else }}
        <h4 class="title is-6 has-text-centered">No Auction Listings Found</h4>
      {{end}}
    </div>
    <div class="columns mt-6">
      <div class="column has-text-centered">
        <a href="/status/auction" class="btn-primary">View all</a>
      </div>
    </div>
    </div> <!-- End container -->
  </div><!-- End Section -->
  {{ end }} 



  {{ if eq "rental-listings" .template }}
  {{ $rental := $.Site.Taxonomies.status.rental }}
  <div class="section">
    <div class="container">
      <div class="columns">
        <div class="column">
            {{ if .heading }}<h1 class="title is-4 has-text-centered">{{ .heading }}</h1>{{ end }}
            {{ if .body }}
            <p class="has-text-centered">{{ .body | markdownify }}</p>
            {{ end }}
        </div>
    </div>
    <div class="responsive-slide">
      {{ if gt $rental 0 }}
        {{ range first 6 $rental }}
          <div class="mx-3">
            {{ partial "templates/property-grid" . }}
          </div>
        {{ end }}
      {{ else }}
        <h4 class="title is-6 has-text-centered">No Rental Listings Found</h4>
      {{end}}
    </div>
    <div class="columns mt-6">
      <div class="column has-text-centered">
        <a href="/status/rental" class="btn-primary">View all</a>
      </div>
    </div>
    </div> <!-- End container -->
  </div><!-- End Section -->
  {{ end }} 


{{ end }}
</div>
{{ partial "global/footer" . }}