{{ partial "global/head" . }}
{{ partial "home/hero" . }}
<div id="home-section">
{{ range .Site.Data.homelayout.home_sections }}

{{ if eq "featured-idx-listings" .template }}

<div class="uk-section uk-section-small">
    <div class="uk-container">
        <div class="uk-text-center">
          {{ if .heading }}
          <h2 class="uk-text-center">{{ .heading }}</h2>
          {{ end }}
          {{ if .body }}
          <p class="uk-text-center">{{ .body | markdownify }}</p>
          {{ end }}
            {{ if $.Site.Data.idx.incomplete_subdomain }}
            <script type="text/javascript" src="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/site/listing/gallery/slider/{{ $.Site.Data.idx.ihf_client_id }}?columns=3&amp;rows=1&amp;effect=fade&amp;auto=false"></script>
            {{ else }}
            <script type="text/javascript" src="https://{{ $.Site.Data.idx.complete_subdomain }}/site/listing/gallery/slider/{{ $.Site.Data.idx.ihf_client_id }}?columns=3&amp;rows=1&amp;effect=fade&amp;auto=false"></script>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}


  {{ if eq "home-testimonial" .template }}
  {{ $buttonColor := $.Site.Data.appearance.colors }}
  {{ $linkColor := $.Site.Data.appearance.colors.links }}

  <div class="uk-section">
    <div class="uk-container uk-container-large">
            {{ if .heading }}
            <h2 class="uk-text-center">{{ .heading }}</h2>
            {{ end }}
            {{ if .body }}
            <p class="uk-text-center">{{ .body | markdownify }}</p>
            {{ end }}
        <div uk-slider>
            <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
                <ul class="uk-slider-items uk-child-width-1-3@m uk-grid" uk-height-match="target: .uk-card">
                    {{ range where $.Site.Pages "Type" "testimonials" }}
                      {{ range .Params.testimonials }}
                      <li>
                        <div class="uk-card">
                            <div class="uk-card-body uk-text-center">
                                <p>{{ .testimonial | truncate 170 }} <a href="/testimonials" class="uk-text-bold uk-text-italic" style="color:{{ $linkColor }}">Read more...</a></p>
                                <em><strong>&#x2014; {{ .name }}</strong></em>
                            </div>
                        </div>
                      </li>
                      {{ end }}
                    {{ end }}
                </ul>
                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
        <div class="uk-margin uk-text-center">
          <a href="/testimonials" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>View more</a>
        </div>
    </div>
</div>
  {{ end }}

  {{ if eq "home-agent" .template }}
  {{ $buttonColor := $.Site.Data.appearance.colors }}
  {{ $agents := where $.Site.RegularPages "Type" "our-team" }}
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      {{ if .heading }}
      <h2 class="uk-text-center">{{ .heading }}</h2>
      {{ end }}
      {{ if .body }}
      <p class="uk-text-center">{{ .body | markdownify }}</p>
      {{ end }}
        <div uk-slider>
            <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">
                <ul class="uk-slider-items uk-child-width-1-4@l uk-child-width-1-3@m uk-grid" uk-height-match="target: .uk-card">
                    {{ if gt $agents 0 }}
                    {{ range where $.Site.RegularPages "Type" "our-team" }}
                    <li>
                        <a href="{{ .Permalink }}">
                            <div class="uk-card uk-card-default" style="box-shadow:none">
                                <div class="uk-card-media-top uk-cover-container">
                                    <canvas height="350"></canvas>
                                    {{ if .Params.details.agent_photo }}
                                    <img src="{{ .Params.details.agent_photo }}" alt="{{ .Title }}" uk-cover>
                                    {{ else }}
                                    <img src="/assets/user.jpg" alt="">
                                    {{ end }}
                                </div>
                                <div class="uk-card-body uk-card-default uk-text-center">
                                    <h3 class="uk-h4">{{ .Title }}</h3>
                                    <a href="" class="uk-display-block">{{ .Params.contact.cell }}</a>
                                    <a href="" class="uk-display-block">{{ .Params.contact.email }}</a>                                
                                </div>
                            </div>
                        </a>
                    </li>
                    {{ end }}
                    {{ else }}
                      <h3>No Agents Found</h3>
                    {{ end }}
                </ul>
                <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        </div>
        <div class="uk-margin uk-text-center">
          <a href="/our-team" class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>View more</a>
        </div>
    </div>
</div>
  {{ end }}

  {{ if eq "home-blog" .template }}
  {{ $linkColor := $.Site.Data.appearance.colors.links }}

  {{ $blog := where $.Site.RegularPages "Type" "blog" }}

    <div class="uk-section">
      <div class="uk-container uk-container-large">
        {{ if .heading }}
        <h2 class="uk-text-center">{{ .heading }}</h2>
        {{ end }}
        {{ if .body }}
        <p class="uk-text-center">{{ .body | markdownify }}</p>
        {{ end }}
        <div uk-grid uk-height-match="target: .uk-card">
          {{ range first 4 (where $.Site.RegularPages "Type" "blog") }}
          <div class="uk-width-1-2@s">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
              <div class="uk-card-media-left uk-cover-container">
                {{ if .Params.featured_image }}
                <img src="{{ .Params.featured_image }}" alt="" style="width:100%;height:100%;object-fit:cover">
                {{ else }}
                <img src="/assets/nophoto.jpg" alt="no photo" style="width:100%;height:100%;object-fit:cover">
                {{ end }}
              </div>
              <div>
                  <div class="uk-card-body">
                      <h3 class="uk-text-bold uk-h5">{{ .Title }}</h3>
                      <p>{{ .Summary | truncate 100 }}</p>
                      <p><a href="{{ .Permalink }}" class="uk-text-bold uk-text-italic" style="color:{{ $linkColor }}">Read more...</a></p>
                  </div>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
        </div>
      </div>
  {{ end }}

  {{ if eq "text-and-image" .template }}
  {{ $buttonColor := $.Site.Data.appearance.colors }}
  <div class="uk-section">
      <div class="uk-container uk-container-large">
        <div class="uk-text-left uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-card uk-text-center">
                    <img src="{{ .image }}" alt="{{ .image_alt_tag }}" width="{{ .image_width }}">
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="uk-card uk-card-body">
                    <h2>{{ .heading }}</h2>
                    <p>{{ .body | markdownify }}</p>
                    {{ if and .button_link .button }}
                    <a href="{{ .button_link }}" class="btn-primary uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>{{ .button }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
      </div>
  </div>
  {{ end }}

  {{ if eq "featured-boxes" .template }}
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      {{ if .heading }}
      <h2 class="uk-text-center">{{ .heading }}</h2>
      {{ end }}
      {{ if .body }}
      <p class="uk-text-center">{{ .body | markdownify }}</p>
      {{ end }}
      <div class="uk-grid-column-small uk-child-width-1-3@s uk-text-center" uk-grid uk-height-match="target: .uk-card">
        {{ range .featured }}
        <div>
          <a href="{{ .link }}">
            <div class="uk-inline uk-cover-container" style="border-radius:4px;">
              <img src="{{ .image }}" alt="" uk-cover>
              <canvas height="400" width="800"></canvas>
              <div class="feature-box-overlay uk-position-cover"></div>
              <div class="uk-overlay uk-position-center uk-light">
                  <h3>{{ .heading }}</h3>
              </div>
            </div>
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}

  {{ if eq "text-and-contact-form" .template }}
  {{ $buttonColor := $.Site.Data.appearance.colors }}
  {{ $linkColor := $.Site.Data.appearance.colors.links }}

  <div style="background: linear-gradient(rgba(18,27,34,0.4),rgba(18,27,34,0.4)),url(https://res.cloudinary.com/hungryram19/image/upload/v1605403006/templates/realestate2/clean-living-room_b3bubn.jpg) no-repeat center;padding-top:100px;padding-bottom:100px;background-size:cover" uk-parallax="bgy: -200">
    <div class="uk-container uk-container-large">
        <div class="uk-flex uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@s">
                <div class="uk-white">
                    {{ if .form.heading }}
                    <h2 class="uk-white">{{ .heading }}</h2>
                    {{ end }}
                    {{ if .form.body }}
                    <div class="summary-card mb-4">
                      <p>{{ .form.body | markdownify }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
            <div class="uk-width-1-2@s">
                <div class="text-form">
                  <form name="Website Contact Form" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-grid-small" uk-grid action="/thank-you">
                    <input name="bot-field" type="hidden" />
                    <input type="hidden" name="Subject" value="Website Contact Form">
                    <input name="Source" type="hidden" value="{{ .Permalink }}" />
                
                    <div class="uk-width-1-2@s">
                        <input class="uk-input" type="text" placeholder="Name" name="Name">
                    </div>
                    <div class="uk-width-1-2@s">
                        <input class="uk-input" type="text" placeholder="Phone" name="Phone">
                    </div>
                    <div class="uk-width-1-1">
                        <input class="uk-input" type="text" placeholder="Email" name="Email">
                    </div>
                    <div class="uk-width-1-1">
                        <textarea class="uk-textarea" rows="5" placeholder="Your Message" name="Message"></textarea>
                    </div>
                    <div class="uk-width-1-1">
                        <button class="uk-button uk-button-primary" {{ if $buttonColor.button_background_color }}style="background:{{ $buttonColor.button_background_color }};color:{{ $buttonColor.button_text_color }};"{{ end }}>Submit</button>
                    </div>
                    <div class="uk-width-1-1">
                        <p>By submitting the form with your information above you are agreeing to our <a style="color:{{ $linkColor }}" href="/legal/terms-and-conditions">Terms and Conditions</a> and <a style="color:{{ $linkColor }}" href="/legal/privacy-policy">Privacy Policy</a></p>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>
  {{ end }}

  {{ if eq "active-listings" .template }}
  {{ $buttonColor := $.Site.Data.appearance.colors }}
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      <div class="uk-text-center">
        {{ if .heading }}<h2 class="uk-dark">{{ .heading }}</h2>{{ end }}
        {{ if .body }}
        <p>{{ .body | markdownify }}</p>
        {{ end }}
      </div>
      <div class="uk-slider-container-offset" uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            <ul class="uk-slider-items uk-child-width-1-3@s uk-grid uk-grid-medium">
              {{ range first 6 (where $.Site.RegularPages "Type" "listings") }}
                {{ if eq .Params.status "Active" }}
                <li>
                  <a href="{{ .Permalink }}">
                    {{ partial "templates/property-card" . }}
                  </a>
                </li>
                {{ end }}
              {{ end }}
            </ul>
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
  {{ end }} 



  {{ if eq "sold-listings" .template }}
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      <div class="uk-text-center">
        {{ if .heading }}<h2 class="uk-dark">{{ .heading }}</h2>{{ end }}
        {{ if .body }}
        <p>{{ .body | markdownify }}</p>
        {{ end }}
      </div>
      <div class="uk-slider-container-offset" uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            <ul class="uk-slider-items uk-child-width-1-3@s uk-grid uk-grid-medium">
              {{ range first 6 (where $.Site.RegularPages "Type" "listings") }}
                {{ if eq .Params.status "Sold" }}
                <li>
                  <a href="{{ .Permalink }}">
                    {{ partial "templates/property-card" . }}
                  </a>
                </li>
                {{ end }}
              {{ end }}
            </ul>
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
  {{ end }} 




  {{ if eq "auction-listings" .template }}
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      <div class="uk-text-center">
        {{ if .heading }}<h2 class="uk-dark">{{ .heading }}</h2>{{ end }}
        {{ if .body }}
        <p>{{ .body | markdownify }}</p>
        {{ end }}
      </div>
      <div class="uk-slider-container-offset" uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            <ul class="uk-slider-items uk-child-width-1-3@s uk-grid uk-grid-medium">
              {{ range first 6 (where $.Site.RegularPages "Type" "listings") }}
                {{ if eq .Params.status "Auction" }}
                <li>
                  <a href="{{ .Permalink }}">
                    {{ partial "templates/property-card" . }}
                  </a>
                </li>
                {{ end }}
              {{ end }}
            </ul>
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
  {{ end }} 



  {{ if eq "rental-listings" .template }}
  <div class="uk-section">
    <div class="uk-container uk-container-large">
      <div class="uk-text-center">
        {{ if .heading }}<h2 class="uk-dark">{{ .heading }}</h2>{{ end }}
        {{ if .body }}
        <p>{{ .body | markdownify }}</p>
        {{ end }}
      </div>
      <div class="uk-slider-container-offset" uk-slider>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            <ul class="uk-slider-items uk-child-width-1-3@s uk-grid uk-grid-medium">
              {{ range first 6 (where $.Site.RegularPages "Type" "listings") }}
                {{ if eq .Params.status "Rental" }}
                <li>
                  <a href="{{ .Permalink }}">
                    {{ partial "templates/property-card" . }}
                  </a>
                </li>
                {{ end }}
              {{ end }}
            </ul>
            <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
  {{ end }} 


{{ end }}
</div>
{{ partial "global/footer" . }}