{{ $ihfID := .Site.Data.idx.ihf_client_id }}
{{ $buttonColor := .Site.Data.appearance.colors }}
{{ $slideSettings := .Site.Data.homelayout.slideshow_settings }}
<div class="uk-position-top full-nav-wrapper" style="z-index: 1;">
    {{ partial "global/navbar" . }}
</div>
<div tabindex="-1" uk-slideshow="animation: {{ $slideSettings.slide_animation }};autoplay: {{ $slideSettings.enable_autoplay }}">



    {{ if $.Site.Data.idx.enable_idx }}
    <div class="uk-light hero-foot">
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
        <div class="uk-position-bottom uk-position-medium uk-text-center uk-light">
            <div class="uk-container quicksearch">
                {{ if $.Site.Data.idx.incomplete_subdomain }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.incomplete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ else }}
                <script type="text/javascript" src="https://{{ $.Site.Data.idx.complete_subdomain }}.idxhome.com/site/listing/search/widget/{{ $ihfID }}?style=horizontal"></script>
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>